<h1 class="main-heading">
    Create New User
</h1>
<div class="form-wrapper mat-elevation-z8">
    <form action="">
        <div class="field-wrapper">
            <mat-form-field><input type="text" placeholder="First Name" matInput></mat-form-field>
        </div>
        <div class="field-wrapper">
            <mat-form-field><input type="text" placeholder="Last Name" matInput></mat-form-field>
        </div>
        <div class="field-wrapper">
            <mat-form-field><input type="text" placeholder="Email" matInput></mat-form-field>
        </div>
        <div class="field-wrapper">
            <mat-form-field><input type="text" placeholder="Password" matInput></mat-form-field>
        </div>
        <div class="field-wrapper">
            <mat-form-field><input type="text" placeholder="Confirm Password" matInput></mat-form-field>
        </div>
        <div class="field-wrapper">
            <mat-form-field><input type="text" placeholder="Role" matInput></mat-form-field>
        </div>
        <div class="field-wrapper">
            <mat-form-field><input type="text" placeholder="Branch" matInput></mat-form-field>
        </div>
        <div class="field-wrapper">
            <mat-form-field><input type="text" placeholder="Phone" matInput></mat-form-field>
        </div>
        <div class="field-wrapper">
            <mat-form-field><textarea matInput name="" id="" cols="30" rows="5" placeholder="Address"></textarea></mat-form-field>
        </div>
        <div class="field-wrapper">
            <input type="file">
        </div>
        <div class="field-wrapper button-wrapper"><button mat-raised-button type='submit' color='accent'>Submit</button></div>
    </form>
</div>