<div class="form-wrapper">
    <form [formGroup]='billAreaForm' (ngSubmit)='submitForm(billAreaForm.value)'>
        <div class="field-wrapper-button">
            <mat-form-field>
                <mat-label>Customer Type</mat-label>
                <mat-select formControlName='customerType'>
                    <mat-option value='1'>Walk In customer</mat-option>
                    <mat-option value='2'>Online Customer</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="button-wrapper">
                <button mat-fab color='primary'><fa-icon [icon]='iconPack.plus'></fa-icon></button>
            </div>
        </div>
        <div class="field-wrapper">
            <mat-form-field><input type="text" matInput placeholder="Scan Your Barcode"></mat-form-field>
        </div>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>UnitPrice</th>
                        <th>Quantity</th>
                        <th>Sub Total</th>
                        <th><fa-icon [icon]='iconPack.delete'></fa-icon></th>
                    </tr>
                </thead>
                <tbody formArrayName='products'>
                    <tr *ngFor='let productListItem of billArray.controls ; let i = index' [formGroupName]='i'>
                        <td>
                            <input formControlName='productName' type="text" readonly>
                        </td>
                        <td>
                            <input formControlName='unitPrice' type="number" readonly>
                        </td>
                        <td>
                            <input formControlName='quantity' (input)='quantityChange($event,i)' type="number" >
                        </td>
                        <td>
                            <input formControlName='subTotal' type="number" readonly>
                        </td>
                        <td>
                            <button mat-button color='warn' (click)='deleteProduct(i)'><fa-icon [icon]='iconPack.cross'></fa-icon></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class='total-grid'>
            <div class="total-field">
                <mat-form-field><input formControlName='totalItem' type="number" readonly matInput placeholder="Total Item"></mat-form-field>
            </div>
            <div class="total-field">
                <mat-form-field><input formControlName='total' type="number" readonly matInput placeholder="Total"></mat-form-field>
            </div>
            <div class="total-field">
                <mat-form-field><input (input)='settingFinalTotal()' formControlName='discount' type="text" matInput placeholder="Discount"></mat-form-field>
            </div>
            <div class="total-field">
                <mat-form-field><input formControlName='amount' type="number" readonly matInput placeholder="Amount"></mat-form-field>
            </div>
            <div class="total-field">
                <mat-form-field><input formControlName='vat' type="number" readonly matInput placeholder="Vat"></mat-form-field>
            </div>
        </div>
        <hr>
        <div class="field-wrapper">
            <mat-form-field><input formControlName='finalTotal' type="text" matInput placeholder="Total"></mat-form-field>
        </div>
        <div class="button-wrapper">
            <div class="button"><button mat-raised-button color='warn' (click)='resetForm()'>Cancel</button></div>
            <div class="button">
                <button mat-raised-button color='accent' type="submit" [disabled]='billAreaForm.invalid'>Payment</button>
            </div>
        </div>
    </form>
</div>