.wrapper-with-sidenav {
    padding: 60px 30px 30px 250px;
    position: relative;
    transition: 400ms;
}
.wrapper-without-sidenav {
    padding: 60px 30px 30px 30px;
    position: relative;
    transition: 400ms;
}
@media only screen and (max-width: 992px) {
    .wrapper-with-sidenav{
        padding: 60px 30px 30px 30px;
        position: relative;
        transition: 400ms;
    }
}