<h1 class="main-heading">
    Create New Supplier
</h1>
<div class="form-wrapper mat-elevation-z8">
    <form action="">
        <div class="field-wrapper">
            <mat-form-field><input type="text" placeholder="First Name" matInput></mat-form-field>
        </div>
        <div class="field-wrapper">
            <mat-form-field><input type="text" placeholder="Last Name" matInput></mat-form-field>
        </div>
        <div class="field-wrapper">
            <mat-form-field><input type="text" placeholder="Company Name" matInput></mat-form-field>
        </div>
        <div class="field-wrapper">
            <mat-form-field><input type="text" placeholder="Email" matInput></mat-form-field>
        </div>
        <div class="field-wrapper">
                <mat-form-field><input matInput type="text" placeholder="Phone"></mat-form-field>
            </div>
        <div class="field-wrapper">
            <mat-form-field>
                <textarea name="" matInput id="" cols="30" rows="3" placeholder="Address"></textarea>
            </mat-form-field>
        </div>
        <div class="field-wrapper">
            <mat-form-field><input type="text" placeholder="Account No" matInput></mat-form-field>
        </div>
        <div class="field-wrapper">
            <mat-form-field><input type="text" placeholder="Opening Balance" matInput></mat-form-field>
        </div>
        <div class="field-wrapper button-wrapper">
            <button mat-raised-button color='accent'>Submit</button>
        </div>
    </form>
</div>