.flex-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .heading {
        flex: 0 1 100%;
    }
    .field {
        flex: 0 1 48%;
    }
    .text-area {
        flex: 0 1 100%;
    }
    .file-input {
        flex: 0 1 100%;
    }
    .button-wrapper {
        flex: 0 1 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }
    mat-form-field {
        width: 100%;
    }
}