<h1 class="main-heading">
    Create New Customer
</h1>
<div class="form-wrapper mat-elevation-z8">
    <form action="">
        <div class="field-wrapper">
            <mat-form-field><input type="text" matInput placeholder='First Name'></mat-form-field>
        </div>
        <div class="field-wrapper">
            <mat-form-field><input type="text" matInput placeholder='Last Name'></mat-form-field>
        </div>
        <div class="field-wrapper">
            <mat-form-field><input type="text" matInput placeholder='Email'></mat-form-field>
        </div>
        <div class="field-wrapper">
            <mat-form-field><input type="text" matInput placeholder='Phone'></mat-form-field>
        </div>
        <div class="field-wrapper">
            <mat-form-field>
                <textarea name="" id="" cols="30" rows="3" matInput placeholder="Address"></textarea>
            </mat-form-field>
        </div>
        <div class="field-wrapper">
            <mat-form-field><input type="text" matInput placeholder='Company Name'></mat-form-field>
        </div>
        <div class="field-wrapper">
            <mat-form-field><input type="text" matInput placeholder='Account No'></mat-form-field>
        </div>
        <div class="field-wrapper">
            <mat-form-field><input type="text" matInput placeholder='Opening Balance'></mat-form-field>
        </div>
        <div class="button-wrapper field-wrapper">
            <button mat-raised-button type='submit' color='accent'>Save</button>
        </div>
    </form>
</div>