.form-wrapper {
    padding: 50px 100px;
}
form {
    display: flex;
    flex-flow: row wrap;
}
.field-wrapper {
    flex: 0 1 100%;
    mat-form-field {
        width: 100%;
    }
}
.button-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    button {
        padding: 5px 30px;
        border-radius: 30px;
    }
}