<h1 class="main-heading">Create New Purchase</h1>
<div class="form-wrapper">
    <form [formGroup]="newPurchaseForm" (ngSubmit)="submitForm(newPurchaseForm.value)">
        <div class="select-wrapper">
            <mat-form-field>
                <mat-label>Supplier</mat-label>
                <mat-select formControlName="supplierType" >
                    <mat-option *ngFor="let supplier of suppliers" [value]="supplier.value">{{supplier.type}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="single-purchase-form">
            <app-single-purchase-form [productList]='productList' (singleFormOutput)='addSingleProduct($event)'></app-single-purchase-form>
        </div>
        <div class='array-wrapper' formArrayName='products'>
            <div class="fields-wrapper" *ngFor='let productPurchaseForm of newPurchaseForm.get("products").controls;let i=index' [formGroupName]='i'>
                <div class="field">
                    <mat-form-field>
                        <mat-label>Select a Product</mat-label>
                        <mat-select formControlName="productName" (selectionChange)='updateFormProduct($event,i)'>
                            <mat-option *ngFor="let product of productList" [value]="product.value">{{product.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="field">
                    <mat-form-field>
                        <input formControlName="unitPrice" type="number" readonly matInput placeholder="Unit Price" #unitPrice>
                    </mat-form-field>
                </div>
                <div class="field">
                    <mat-form-field>
                        <input formControlName="quantity" (change)='quantityChange(i)' type="number" matInput placeholder="Quantity" #quantity>
                    </mat-form-field>
                </div>
                <div class="field">
                    <mat-form-field>
                        <input formControlName="subTotal" type="number" readonly matInput placeholder="Sub Total" >
                    </mat-form-field>
                </div>
                <div class="field plus-button-wrapper">
                    <button mat-fab color="warn" type='button' (click)='deleteProduct(i)'><fa-icon [icon]="iconPack.cross"></fa-icon></button>
                </div>
            </div>
        </div>
        
        <div class="calculation-area">
            <div class="calculation-fields">
                <div class="cal-field">
                    <mat-form-field>
                        <input formControlName="total" type="number" matInput placeholder="Total (Excluding Vat)">
                    </mat-form-field>
                </div>
                <div class="cal-field">
                    <mat-form-field>
                        <input formControlName="discount" type="number" matInput placeholder="Discount">
                    </mat-form-field>
                </div>
                <div class="cal-field">
                    <mat-form-field>
                        <input formControlName="shippingCost" type="number" matInput placeholder="Shipping Cost">
                    </mat-form-field>
                </div>
                <div class="cal-field">
                    <mat-form-field>
                        <input formControlName="netTotal" type="number" matInput placeholder="Net Total">
                    </mat-form-field>
                </div>
                <div class="cal-field">
                    <mat-form-field>
                        <mat-label>Payment Method</mat-label>
                        <mat-select formControlName="paymentMethod" >
                            <mat-option *ngFor="let method of paymentMethods" [value]="method.type">
                                {{method.type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="cal-field">
                    <mat-form-field>
                        <input formControlName="paid" type="number" matInput placeholder="Paid">
                    </mat-form-field>
                </div>
                <div class="cal-field button-wrapper">
                    <button mat-raised-button color="primary" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>