.nav-link {
    padding:20px 25px;
    transition: 400ms;
    a {
        color: #156ac4;
        text-decoration: none;
        display: flex;
        .icon-wrapper {
            width: 30px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
        }
    }
}
.active {
    font-weight: 500;
    border-left: 5px solid #156ac4;
    transition: 400ms;
}