<app-common-heading incomingHeading='Create New Sale'></app-common-heading>
<div class="form-wrapper">
    <form [formGroup]="newSaleForm" (ngSubmit)="submitForm(newSaleForm.value)">
        <div class="select-wrapper">
            <mat-form-field>
                <mat-label>Customer</mat-label>
                <mat-select formControlName="customerType" >
                    <mat-option *ngFor="let customer of customerTypes" [value]="customer.value">{{customer.type}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class='array-wrapper' formArrayName='products'>
            <div class="fields-wrapper" *ngFor='let productSaleForm of newSaleForm.get("products").controls;let i=index' [formGroupName]='i'>
                <div class="field">
                    <mat-form-field>
                        <mat-label>Select a Product</mat-label>
                        <mat-select formControlName="productName" >
                            <mat-option *ngFor="let product of productList" [value]="product.value">{{product.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="field">
                    <mat-form-field>
                        <input formControlName="unitPrice" type="number" matInput placeholder="Unit Price">
                    </mat-form-field>
                </div>
                <div class="field">
                    <mat-form-field>
                        <input formControlName="quantity" type="text" matInput placeholder="Quantity">
                    </mat-form-field>
                </div>
                <div class="field">
                    <mat-form-field>
                        <input formControlName="subTotal" type="text" matInput placeholder="Sub Total">
                    </mat-form-field>
                </div>
                <div class="field plus-button-wrapper">
                    <button *ngIf="i == productListLength" mat-fab color="primary" type='button' (click)='addProduct()'><fa-icon [icon]="iconPack.plus"></fa-icon></button>
                    <button *ngIf="i != productListLength" mat-fab color="warn" type='button' (click)='deleteProduct(i)'><fa-icon [icon]="iconPack.cross"></fa-icon></button>
                </div>
            </div>
        </div>
        
        <div class="calculation-area">
            <div class="calculation-fields">
                <div class="cal-field">
                    <mat-form-field>
                        <input formControlName="total" type="number" matInput placeholder="Total (Excluding Vat)">
                    </mat-form-field>
                </div>
                <div class="cal-field">
                    <mat-form-field>
                        <input formControlName="discount" type="number" matInput placeholder="Discount">
                    </mat-form-field>
                </div>
                <div class="cal-field">
                    <mat-form-field>
                        <input formControlName="shippingCost" type="number" matInput placeholder="Shipping Cost">
                    </mat-form-field>
                </div>
                <div class="cal-field">
                    <mat-form-field>
                        <input formControlName="netTotal" type="number" matInput placeholder="Net Total">
                    </mat-form-field>
                </div>
                <div class="cal-field">
                    <mat-form-field>
                        <mat-label>Payment Method</mat-label>
                        <mat-select formControlName="paymentMethod" >
                            <mat-option *ngFor="let method of paymentMethods" [value]="method.type">
                                {{method.type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="cal-field">
                    <mat-form-field>
                        <input formControlName="paid" type="number" matInput placeholder="Paid">
                    </mat-form-field>
                </div>
                <div class="cal-field button-wrapper">
                    <button mat-raised-button color="primary" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>