table {
    width: 100%;
}
.field-wrapper {
    padding: 20px 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    mat-form-field {
        width: 500px !important;
    }
}