
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$md-mcgpalette0: (
    50 : #e7f3fb,
    100 : #c2e0f4,
    200 : #9acced,
    300 : #71b7e6,
    400 : #52a7e0,
    500 : #3498db,
    600 : #2f90d7,
    700 : #2785d2,
    800 : #217bcd,
    900 : #156ac4,
    A100 : #f5f9ff,
    A200 : #c2ddff,
    A400 : #8fc1ff,
    A700 : #75b3ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-mcgpalette1: (
    50 : #fef0e9,
    100 : #fcd9c7,
    200 : #fac0a2,
    300 : #f7a77d,
    400 : #f69461,
    500 : #f48145,
    600 : #f3793e,
    700 : #f16e36,
    800 : #ef642e,
    900 : #ec511f,
    A100 : #ffffff,
    A200 : #fff2ef,
    A400 : #ffcbbc,
    A700 : #ffb7a2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$sale-project-primary: mat-palette($md-mcgpalette0);
$sale-project-accent: mat-palette($md-mcgpalette1);

// The warn palette is optional (defaults to red).
$sale-project-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$sale-project-theme: mat-light-theme($sale-project-primary, $sale-project-accent, $sale-project-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($sale-project-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
    box-sizing: border-box;
}

h1.main-heading {
    font-weight: 300;
}
.main-button-wrapper {
    padding: 20px 0px;
    display: flex;
    flex-flow: row wrap;
    .buttons {
        margin-right: 20px;
        button {
            border-radius: 30px;
        }
    }
}