.button-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.action-button {
    flex: 1 1 auto;
    button {
        width: 100%;
        border-radius: 0px;
    }
}