.container {
    width: 220px;
    position: fixed;
    border-right: 1px solid rgba(128, 128, 128, 0.438);
    z-index: 100;
    padding-top: 60px;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    
    .nav-area {
        z-index: 101;
        height: 100%;
        overflow-y: scroll;
        background-color: white;
        scrollbar-width: none;
        ::-webkit-scrollbar {
            display: none;
        }
    }
    
}
::-webkit-scrollbar {
    display: none !important;
}


@media only screen and (max-width: 992px) {
    .show {
        width: 100%;
        animation-name: backgroundColorChange;
        animation-duration: 400ms;
        animation-fill-mode: forwards;
        .nav-area {
            width: 240px;
            transition: 400ms;
        }
        
    }
    .hidden {
        width: 0px;
        opacity: 0;
        padding: 0px;
        transition: 400ms;
        background-color: transparent;
        animation: backgroundColorChangeReverse;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
        .nav-area {
            width: 0px;
            padding: 0px;
            transition: 400ms;
            app-expansion {
                display: none;
                transition: 400ms;
            }
        }
        
    }
}

@keyframes backgroundColorChange {
    0% {}
    50% {
        background-color: transparent;
    }
    100% {
        background-color:  rgba(0, 0, 0, 0.623); 
    }
}

@keyframes backgroundColorChangeReverse {
    0% {background-color: rgba(0, 0, 0, 0.623);}
    50%{background-color: transparent}
    100% {}
}