table {
    width: 100%;
}
.field-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    mat-form-field  {
        flex: 0 1 30%;
        padding: 20px 10px 0px;
    }
}